<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
		<title>添加病人信息</title>
		<style>
			.order {
				height: 60px;
				line-height: 60px;
				text-align: center;
			}
			
			.order .line {
				display: inline-block;
				width: 180px;
				border-top: 2px solid #00B5F9;
			}
			
			.order .txt {
				color: #686868;
				vertical-align: middle;
				font-size: 16px;
			}
		</style>
	</head>

	<body>

		<form class="form form-horizontal" id="form-patient-add">
			<div class="order">
				<span class="line"></span>
				<span class="txt">病人基本信息</span>
				<span class="line"></span>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>患者姓名：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value=""  id="name" name="name">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>性别：</label>
				<div class="formControls col-xs-2 col-sm-3"> <span class="select-box">
				                    <select name="sex" class="select" id="sex">
				                	<option value="男">男</option>
				                	<option value="女" >女</option>
				                </select></span>
					<!--<input type="text" class="input-text" value=""  id="sex" name="sex">-->
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>家庭住址：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value=""  id="address" name="address">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>年龄：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" id="age" name="age">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证号：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value=""  id="identification" name="identification">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>登录密码：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="password" class="input-text" value=""  id="password" name="password">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电话号码：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value=""  id="tel" name="tel">
				</div>
			</div>

			<div class="row cl">
				<div class="formControls col-sm-3"></div>
				<div class="formControls col-sm-2">
					<button id="save" class="btn btn-primary radius" type="button">保存</button>
				</div>
				<div class="formControls col-xs-2 col-sm-2">
					<button  class="btn btn-default radius" type="reset">&nbsp;&nbsp;重置&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
		</center>
		<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
		<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>

	</body>
<script>

	$(document).ready(function(){

		$('#save').click(function () {
			var data1 = getData(); //eval('('+getData()+')');
			$.post('Patient/save',data1,function (data,status) {
				// alert(data);
				// alert(status);
				if(data=="success"){
					layer.alert('添加成功',function () {
						window.parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); //再执行关闭
					});
				}if(data=="error"){
					layer.alert('该身份证已经存在',function () {
						window.parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); //再执行关闭
					});
				}
			})
		});

		function getData() {
			var data = "";// = '{';
			data += "name="+ $('#name').val()+'&';
			data += "sex="+ $('#sex').val()+'&';
			data += "address="+ $('#address').val()+'&';
			data += "age="+ $('#age').val()+'&';
			data += "identification="+ $('#identification').val()+'&';
			data += "password="+ $('#password').val()+'&';
			data += "tel="+ $('#tel').val();
			return data;
		}
	});

</script>

</html>