<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
		<title>添加病人信息</title>
		<style>
			.order {
				height: 60px;
				line-height: 60px;
				text-align: center;
			}
			
			.order .line {
				display: inline-block;
				width: 180px;
				border-top: 2px solid #00B5F9;
			}
			
			.order .txt {
				color: #686868;
				vertical-align: middle;
				font-size: 16px;
			}
		</style>
	</head>

	<body>

		<form class="form form-horizontal" id="form-article-add">
			<div class="order">
				<span class="line"></span>
				<span class="txt">病人基本信息</span>
				<span class="line"></span>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>患者姓名：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>性别：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>出生年月：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>年龄：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证号：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>登录密码：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="order">
				<span class="line"></span>
				<span class="txt">病人病历信息</span>
				<span class="line"></span>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主诉：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>入院时间：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>现病史：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>既往史：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>检查结果：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>诊断：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>诊断类型：</label>
				<div class="formControls col-sm-3">
					<span class="select-box">
				<select name="" class="select">
					<option value="0">请选择</option>
					<option value="1">初诊</option>
					<option value="11">复诊</option>
					<option value="12">急诊</option>
				</select>
				</span>
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>主治医生：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>治疗手段：</label>
				<div class="formControls col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
				<label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>过敏史：</label>
				<div class="formControls col-xs-2 col-sm-3">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
			<div class="row cl">
				<div class="formControls col-sm-3"></div>
				<div class="formControls col-sm-2">
					<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit">保存</button>
				</div>
				<div class="formControls col-xs-2 col-sm-2">
					<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
		</center>

		<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
		<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
	</body>

</html>