<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ela Admin - HTML5 Admin Template</title>
		<link rel="stylesheet" href="assets/css/normalize.css">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/themify-icons.css">
		<link rel="stylesheet" href="assets/css/pe-icon-7-filled.css">
		<link rel="stylesheet" href="assets/css/flag-icon.min.css">
		<link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
		<link rel="stylesheet" href="assets/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<style>
		.di {
				background: 8ef6f5
			}
	</style>
	</head>
	<body>
		
	
			<div class="content">
				
					<div class="row">						
						<div class="col-lg-6">
							<div class="card">
								
								<div class="card-body card-block">
									
									<form action="#" method="post"  class="form-horizontal">
										<div class="row form-group">
											<div class="col col-md-2"><label for="password-input" class=" form-control-label">标题</label></div>
											<div class="col-12 col-md-9"><input type="password" id="password-input" name="password-input" placeholder="请输入公告标题" class="form-control"></div>
										</div>
										
										<div class="row form-group">
											<div class="col col-md-2"><label for="textarea-input" class=" form-control-label">内容</label></div>
											<div class="col-12 col-md-9"><textarea name="textarea-input" id="textarea-input" rows="9" placeholder="请注意公告内容不得超过200字" class="form-control"></textarea></div>
										</div>
										<center>
										<button id="payment-button" type="submit" class="btn btn-lg btn-info "><span id="payment-button-amount">取消</span></button>&nbsp;&nbsp;&nbsp;
										<button id="payment-button" class="btn btn-lg btn-info "><span id="payment-button-amount">确定</span></button>	</center>										
								</div>
							</div>
						</div>
						</div>						
						<div class="clearfix"></div>
					</div>		
	</body>

</html>