<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ela Admin - HTML5 Admin Template</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/pe-icon-7-filled.css">
	<link rel="stylesheet" href="assets/css/flag-icon.min.css">
	<link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
	<link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<style>

		td{
			width:100%;
			word-break:keep-all;/* 不换行 */
			white-space:nowrap;/* 不换行 */
			overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
			text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
		}
	</style>
</head>
<body>
<div class="col-lg-12"><br />
	<div class="card">
		<div class="card-body card-block">
			<div class="col col-md-9">
				<div class="input-group">
					<div class="col col-md-3">
						<a href="javascript:;" onclick="admin_add('发布公告','Announcement.html','800','500')" class="btn btn-primary"><i class="fa fa-plus"></i> 发布公告</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-body">
	<table id="bootstrap-data-table" class="table table-striped table-bordered" style="table-layout: fixed;width:100%">
		<thead>
		<tr>
			<th >发布人</th>
			<th >发时间</th>
			<th >标题</th>
			<th >内容</th>
			<th>操作</th>
		</tr >
		</thead>
		<tbody>
		<tr th:each="annou : ${annou}">
			<td th:text="${annou.personName}"></td>
			<td th:text="${annou.releaseTime}"></td>
			<td th:text="${annou.topic}"></td>
			<td th:text="${annou.content}"></td>
			<td>
				<a href="javascript:;" th:onclick='admin_add("查看详细信息", findannoubyid?id=${annou.id},"800","450")' ><i class="fa fa-pencil" style="color: blue" title="查看详细信息"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a title="删除" th:href="@{/Announcement/deleannoubyid(id=${annou.id})}"><i class="fa fa-trash-o" style="color: red"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script src="assets/js/lib/data-table/datatables.min.js"></script><!--分页用的js-->
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/init/datatables-init.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript">
	/*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
	/*管理员-增加*/
	function admin_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}


</script>
</body>

</html>