<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
	<script src="assets/js/init/index.js"></script>
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<style>
		#coursesTable {
			padding: 15px 10px;
		}

		.Courses-head>div {
			text-align: center;
			font-size: 14px;
			line-height: 28px;
		}

		.left-hand-TextDom,
		.Courses-head {
			background-color: #f2f6f7;
		}

		.Courses-leftHand {
			background-color: #f2f6f7;
			font-size: 12px;
		}

		.Courses-leftHand .left-hand-index {
			color: #9c9c9c;
			margin-bottom: 4px !important;
		}

		.Courses-leftHand p {
			text-align: center;
			font-weight: 900;
		}

		.Courses-leftHand>div {
			padding-top: 5px;
			border-bottom: 1px dashed rgb(219, 219, 219);
		}

		.Courses-leftHand>div:last-child {
			border-bottom: none !important;
		}

		.left-hand-TextDom,
		.Courses-head {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
		}

		.Courses-content>ul {
			border-bottom: 1px dashed rgb(219, 219, 219);
			box-sizing: border-box;
		}

		.Courses-content>ul:last-child {
			border-bottom: none !important;
		}

		.highlight-week {
			color: #02a9f5 !important;
		}

		.Courses-content li {
			text-align: center;
			color: #fff;
			font-size: 14px;
			line-height: 50px;
		}

		.stage_1,
		.left-hand-1 {
			background-color: #FF6666;
		}

		.stage_2,
		.left-hand-2 {
			background-color: #3399CC;
		}

		.stage_3,
		.left-hand-3 {
			background-color: #66CCCC;
		}

		.Courses-leftHand {
			border-right: 1px solid #e0e0e0;
			color: #fff;
		}

		.Courses-leftHand>div {
			writing-mode: vertical-lr;
			text-align: center;
			line-height: 50px;
			font-size: 16px;
			letter-spacing: 10px;
		}
		.order {
			height: 60px;
			line-height: 60px;
			text-align: center;
		}

		.order .line {
			display: inline-block;
			width: 180px;
			border-top: 2px solid #00B5F9;
		}

		.order .txt {
			color: #686868;
			vertical-align: middle;
			font-size: 16px;
		}
	</style>
</head>
<body>
<div class="col-lg-12">
	<div class="card">
		<div class="col-sm-7">
			<div class="page-header float-right">
				<ol class="breadcrumb text-right">
					<li><a href="Duty_schedule.html" style="color: cornflowerblue;">返回上一级/</a></li>&nbsp;&nbsp;
					<li><a href="javascript:;" onclick="admin_add('帮助','help.html','300','200')"><i class="fa fa-question-circle" title="帮助"></i></a></li>
				</ol>
			</div>
		</div>
	</div>
</div>


<div class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="row">
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周一上午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周二上午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>

							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周三上午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周四下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周五上午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周六上午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周日上午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">周日下午</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">晚上</strong>
							</div>
							<div class="card-body">
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
								<br /><br />
								<select data-placeholder="请选择" class="standardSelect" tabindex="1">
									<option value="" label="default"></option>
									<option value="United States">United States</option>
								</select>
							</div>
						</div>
						<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;取消&nbsp;</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="order">
	<span class="line"></span>
	<span class="txt">本周班次安排结果</span>
	<span class="line"></span>
</div>
<div class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div id="coursesTable"></div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>

<script type="text/javascript">

	function admin_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
</script>
<script>
	jQuery(document).ready(function() {
		jQuery(".standardSelect").chosen({
			disable_search_threshold: 10,
			no_results_text: "Oops, nothing found!",
			width: "100%"
		});
	});

	var courseList = [
		['胡青牛', '华佗', '李时珍', '孙思邈', '扁鹊', '张仲景', '英语', '物理', '物理', '数学', '英语', '物理'],
		['数学', '语文', '物理', '物理', '语文', '语文', '语文', '物理', '数学', '语文', '语文', '体育'],
		['语文', '数学', '英语', '物理', '', '数学', '英语', '物理', '语文', '数学', '英语', '物理'],
		['数学', '语文', '物理', '物理', '语文', '语文', '语文', '英语', '数学', '语文', '语文', '体育'],
		['语文', '数学', '英语', '物理', '语文', '数学', '英语', '物理', '语文', '数学', '英语', '物理'],
		['数学', '语文', '物理', '物理', '语文', '语文', '语文', '英语', '数学', '语文', '语文', '体育'],
		['体育', '数学', '', '物理', '语文', '数学', '英语', '物理', '语文', '数学', '英语', '物理']
	];
	var week = window.innerWidth > 360 ? ['周一', '周二', '周三', '周四', '周五', '周六', '周日'] : ['一', '二', '三', '四', '五', '六', '日'];
	var now = new Date();
	var day = now.getDay()
	var courseType = [
		['上午', 4],
		['下午', 4],
		['晚上', 4]
	];

	var times = new Timetables({
		el: '#coursesTable',
		timetables: courseList,
		week: week,
		merge: false,
		timetableType: courseType,
		highlightWeek: day,
		gridOnClick: function(e) {
			console.log(e)
		},
		styles: {
			leftHandWidth: 50,
			Gheight: 50,
			palette: false
		}
	});
</script>

</body>
</html>