<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
	<script src="assets/js/init/index.js"></script>
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<style>
		#coursesTable {
			padding: 15px 10px;
		}

		.Courses-head>div {
			text-align: center;
			font-size: 14px;
			line-height: 28px;
		}

		.left-hand-TextDom,
		.Courses-head {
			background-color: #f2f6f7;
		}

		.Courses-leftHand {
			background-color: #f2f6f7;
			font-size: 12px;
		}

		.Courses-leftHand .left-hand-index {
			color: #9c9c9c;
			margin-bottom: 4px !important;
		}

		.Courses-leftHand p {
			text-align: center;
			font-weight: 900;
		}

		.Courses-leftHand>div {
			padding-top: 5px;
			border-bottom: 1px dashed rgb(219, 219, 219);
		}

		.Courses-leftHand>div:last-child {
			border-bottom: none !important;
		}

		.left-hand-TextDom,
		.Courses-head {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
		}

		.Courses-content>ul {
			border-bottom: 1px dashed rgb(219, 219, 219);
			box-sizing: border-box;
		}

		.Courses-content>ul:last-child {
			border-bottom: none !important;
		}

		.highlight-week {
			color: #02a9f5 !important;
		}

		.Courses-content li {
			text-align: center;
			color: #fff;
			font-size: 14px;
			line-height: 50px;
		}

		.stage_1,
		.left-hand-1 {
			background-color: #FF6666;
		}

		.stage_2,
		.left-hand-2 {
			background-color: #3399CC;
		}

		.stage_3,
		.left-hand-3 {
			background-color: #66CCCC;
		}

		.Courses-leftHand {
			border-right: 1px solid #e0e0e0;
			color: #fff;
		}

		.Courses-leftHand>div {
			writing-mode: vertical-lr;
			text-align: center;
			line-height: 50px;
			font-size: 16px;
			letter-spacing: 10px;
		}
		.order {
			height: 60px;
			line-height: 60px;
			text-align: center;
		}

		.order .line {
			display: inline-block;
			width: 180px;
			border-top: 2px solid #00B5F9;
		}

		.order .txt {
			color: #686868;
			vertical-align: middle;
			font-size: 16px;
		}
	</style>
</head>
<body>

<div class="content">
	<form>
	<div class="row">
		<div class="col-lg-12">
			<div class="card-body">
				<table id="bootstrap-data-table" class="table table-striped table-bordered">
					<thead>
					<tr>
						<td hidden="hidden"></td>
						<th></th>
						<th colspan="7" align="center">第一周</th>
						<th colspan="7" align="center">第二周</th>
					</tr>
					<tr>
						<td hidden="hidden"></td>
						<th>医生姓名</th>
						<th>周一</th>
						<th>周二</th>
						<th>周三</th>
						<th>周四</th>
						<th>周五</th>
						<th>周六</th>
						<th>周日</th>
						<th>周一</th>
						<th>周二</th>
						<th>周三</th>
						<th>周四</th>
						<th>周五</th>
						<th>周六</th>
						<th>周日</th>
					</tr>
					</thead>
					<tbody id="duty">
					<!--<tr>-->
						<!--<td hidden="hidden"></td>-->
						<!--<td>-->
							<!--123456-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day01" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day01" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day02" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day02" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day03" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day03" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day04" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day04" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day05" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day05" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day06" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day06" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day07" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day07" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day08" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day08" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day09" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day09" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day10" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day10" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day11" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day11" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day12" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day12" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day13" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day13" value="下午"/>下午-->
						<!--</td>-->
						<!--<td>-->
							<!--<input type="checkbox" name="day14" value="上午"/>上午 <br/>-->
							<!--<input type="checkbox" name="day14" value="下午"/>下午-->
						<!--</td>-->
					<!--</tr>-->
					</tbody>
				</table>
			</div>
		</div>
	</div>

		<div class="input-group">
			<div class="input-group-btn">
				<span>第一周第一天的时间<input class="" type="text" id="time" placeholder="yyyy-MM-dd" /></span>
			</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="input-group-btn">
				<input class="btn btn-primary" type="button" id="commit" value="提交"/>
			</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<div class="input-group-btn">
				<button class="btn btn-primary" type="reset" id="reset">重置</button>
			</div>
		</div>
	</form>
</div>

<div class="clearfix"></div>
<div class="order">
	<span class="line"></span>
	<span class="txt" ><span id="spanTime"></span>班次安排结果</span>
	<span class="line"></span>
</div>
<div class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div id="coursesTable">
					
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script>
	$(function () {
        a();
	    $("#commit").click(function () {
			var day01 = $("input[name=day01]");
            var no1 = $("input[name=day01]").parent().parent().parent();
            var size = no1.length;
			var doctorIds = new Array(size);//醫生主鍵數組
            var doctorNames = new Array(size);//醫生姓名主鍵數組
            $.each(no1,function (i) {
                doctorIds[i] = $(this).find("td").eq(0).text();
                doctorNames[i] = $(this).find("td").eq(1).text();
            });
            var day02 = $("input[name=day02]");
            var day03 = $("input[name=day03]");
            var day04 = $("input[name=day04]");
            var day05 = $("input[name=day05]");
            var day06 = $("input[name=day06]");
            var day07 = $("input[name=day07]");
            var day08 = $("input[name=day08]");
            var day09 = $("input[name=day09]");
            var day10 = $("input[name=day10]");
            var day11 = $("input[name=day11]");
            var day12 = $("input[name=day12]");
            var day13 = $("input[name=day13]");
            var day14 = $("input[name=day14]");
			// {id,startTime,operationTime,doctorId,doctorNames,day01,...,day14};
	        var day01s = new Array(size);
	        var day02s = new Array(size);
            var day03s = new Array(size);
            var day04s = new Array(size);
            var day05s = new Array(size);
            var day06s = new Array(size);
            var day07s = new Array(size);
            var day08s = new Array(size);
            var day09s = new Array(size);
            var day10s = new Array(size);
            var day11s = new Array(size);
            var day12s = new Array(size);
            var day13s = new Array(size);
            var day14s = new Array(size);
            for (var i = 0,k = 0; i < day01.length; i+=2,k++) {
                day01s[k] = "";
                day02s[k] = "";
                day03s[k] = "";
                day04s[k] = "";
                day05s[k] = "";
                day06s[k] = "";
                day07s[k] = "";
                day08s[k] = "";
                day09s[k] = "";
                day10s[k] = "";
                day11s[k] = "";
                day12s[k] = "";
                day13s[k] = "";
                day14s[k] = "";

                if(day01[i].checked == true){
                    day01s[k] += "上午";
                }
                if(day02[i].checked == true) {
                    day02s[k] += "上午";
                }
                if (day03[i].checked == true) {
                    day03s[k] += "上午";
                }
                if (day04[i].checked == true) {
                    day04s[k] += "上午";
                }
                if (day05[i].checked == true) {
                    day05s[k] += "上午";
                }
                if (day06[i].checked == true) {
                    day06s[k] += "上午";
                }
                if (day07[i].checked == true) {
                    day07s[k] += "上午";
                }
                if (day08[i].checked == true) {
                    day08s[k] += "上午";
                }
                if (day09[i].checked == true) {
                    day09s[k] += "上午";
                }
                if (day10[i].checked == true) {
                    day10s[k] += "上午";
                }
                if (day11[i].checked == true) {
                    day11s[k] += "上午";
                }
                if (day12[i].checked == true) {
                    day12s[k] += "上午";
                }
                if (day13[i].checked == true) {
                    day13s[k] += "上午";
                }
                if (day14[i].checked == true) {
                    day14s[k] += "上午";
                }

                if (day01[i + 1].checked == true) {
                    day01s[k] += "下午";
                }
                if (day02[i + 1].checked == true) {
                    day02s[k] += "下午";
                }
                if (day03[i + 1].checked == true) {
                    day03s[k] += "下午";
                }
                if (day04[i + 1].checked == true) {
                    day04s[k] += "下午";
                }
                if (day05[i + 1].checked == true) {
                    day05s[k] += "下午";
                }
                if (day06[i + 1].checked == true) {
                    day06s[k] += "下午";
                }
                if (day07[i + 1].checked == true) {
                    day07s[k] += "下午";
                }
                if (day08[i + 1].checked == true) {
                    day08s[k] += "下午";
                }
                if (day09[i + 1].checked == true) {
                    day09s[k] += "下午";
                }
                if (day10[i + 1].checked == true) {
                    day10s[k] += "下午";
                }
                if (day11[i + 1].checked == true) {
                    day11s[k] += "下午";
                }
                if (day12[i + 1].checked == true) {
                    day12s[k] += "下午";
                }
                if (day13[i + 1].checked == true) {
                    day13s[k] += "下午";
                }
                if (day14[i + 1].checked == true) {
                    day14s[k] += "下午";
                }
            }
            var start = $("#time").val();
            var str = new Array(size);
            for(var i =0;i<size;++i){
                var o = {id:"",startTime:"",doctorId:"",doctorName:"",day01:"",
                    day02:"",day03:"",day04:"",day05:"",day06:"",day07:"",day08:"",
					day09:"",day10:"",day11:"",day12:"",day13:"",day14:""};
                o.startTime = start;
                o.doctorId = doctorIds[i];
                o.doctorName = doctorNames[i];
                o.day01 = day01s[i];
                o.day02 = day02s[i];
                o.day03 = day03s[i];
                o.day04 = day04s[i];
                o.day05 = day05s[i];
                o.day06 = day06s[i];
                o.day07 = day07s[i];
                o.day08 = day08s[i];
                o.day09 = day09s[i];
                o.day10 = day10s[i];
                o.day11 = day11s[i];
                o.day12 = day12s[i];
                o.day13 = day13s[i];
                o.day14 = day14s[i];
				str[i] = o;
            }
            // console.log(str);//str為傳送到服務器端的數據
			var jsonData = JSON.stringify(str);
/*****************************************************發送ajax請求**************************************************/
			// $.post("dutyRoster/save",jsonData,function (message) {
            //     if("success" == message){
            //         alert("排班成功");
            //         a();
            //     }
            // });

			$.ajax({
				type: "POST",
				url: "dutyRoster/save",
				contentType: "application/json; charset=utf-8",
				data: jsonData,
				// dataType: "json",
				success: function (message) {
                    if("success" == message){
                        alert("排班成功");
                        a();//更新下方的数据
					}
				}
			});

        });

        $.get("doctor/allStatus",function (data) {//獲取在職醫生的數據
			var str = "";
			var s = '<td> ' +
                '<label><input type="checkbox" name="day01" value="上午"/>上午</label> <br/> ' +
                ' <lable><input type="checkbox" name="day01" value="下午"/>下午</label> ' +
                ' </td> ' +
                ' <td> ' +
                ' <lable><input type="checkbox" name="day02" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day02" value="下午"/>下午</label> ' +
                 '</td> ' +
                 '<td> ' +
                 '<lable><input type="checkbox" name="day03" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day03" value="下午"/>下午</label> ' +
                 '</td> ' +
                 '<td> ' +
                 '<lable><input type="checkbox" name="day04" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day04" value="下午"/>下午</label> ' +
                 '</td> ' +
                 '<td> ' +
                 '<lable><input type="checkbox" name="day05" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day05" value="下午"/>下午</label> ' +
                 '</td> ' +
                 '<td> ' +
                 '<lable><input type="checkbox" name="day06" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day06" value="下午"/>下午</label> ' +
                 '</td> ' +
                 '<td> ' +
                 '<lable><input type="checkbox" name="day07" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day07" value="下午"/>下午</label> ' +
                '  </td> ' +
                 '<td> ' +
                 '<lable><input type="checkbox" name="day08" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day08" value="下午"/>下午</label> ' +
                '     </td> ' +
                '     <td> ' +
                 '<lable><input type="checkbox" name="day09" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day09" value="下午"/>下午</label> ' +
                '     </td> ' +
                '     <td> ' +
                 '<lable><input type="checkbox" name="day10" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day10" value="下午"/>下午</label> ' +
                '     </td> ' +
                '     <td> ' +
                 '<lable><input type="checkbox" name="day11" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day11" value="下午"/>下午</label> ' +
                '     </td> ' +
                '     <td> ' +
                 '<lable><input type="checkbox" name="day12" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day12" value="下午"/>下午</label> ' +
                '     </td> ' +
                '     <td> ' +
                 '<lable><input type="checkbox" name="day13" value="上午"/>上午</label> <br/> ' +
                 '<lable><input type="checkbox" name="day13" value="下午"/>下午</label> ' +
                '     </td> ' +
                '     <td> ' +
                 '<lable><input type="checkbox" name="day14" value="上午"/>上午</label> <br/> ' +
                '<label><input type="checkbox" name="day14" value="下午"/>下午</label> ' +
                '     </td>';
            for (var i = 0; i < data.length; i++) {
                str += "<tr>";
                str += "<td hidden='hidden'>"+ data[i].id +"</td>";
            	str += "<td>"+data[i].name+"</td>";
            	str += s;
            	str += "</tr>";
            }
            $("#duty").html(str);

        });


        function a(){
            $.ajax({//查询最新排班信息
                type: "POST",
                url: "dutyRoster/maxStartTime",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (message) {
                    var str = "";
                    str += '<table id="bootstrap-data-table" class="table table-striped table-bordered"> ' +
                        '     <thead> ' +
                        '     <tr> ' +
                        '      <td hidden="hidden"></td> ' +
                        '      <th></th> ' +
                        '      <th colspan="7" align="center">第一周</th> ' +
                        '      <th colspan="7" align="center">第二周</th> ' +
                        '     </tr> ' +
                        '     <tr> ' +
                        '      <td hidden="hidden"></td> ' +
                        '      <th>医生姓名</th> ' +
                        '      <th>周一</th> ' +
                        '      <th>周二</th> ' +
                        '      <th>周三</th> ' +
                        '      <th>周四</th> ' +
                        '      <th>周五</th> ' +
                        '      <th>周六</th> ' +
                        '      <th>周日</th> ' +
                        '      <th>周一</th> ' +
                        '      <th>周二</th> ' +
                        '      <th>周三</th> ' +
                        '      <th>周四</th> ' +
                        '      <th>周五</th> ' +
                        '      <th>周六</th> ' +
                        '      <th>周日</th> ' +
                        '     </tr> ' +
                        '     </thead>';
                    str += '<tbody>';
                    for(var i = 0;i<message.length;++i){
                        str += '<tr>';
                        str += '<td hidden="hidden">'+message[i].doctorId+'</td>';
                        str += '<td>'+message[i].doctorName+'</t>';
                        str += '<td>'+message[i].day01+'</t>';
                        str += '<td>'+message[i].day02+'</t>';
                        str += '<td>'+message[i].day03+'</t>';
                        str += '<td>'+message[i].day04+'</t>';
                        str += '<td>'+message[i].day05+'</t>';
                        str += '<td>'+message[i].day06+'</t>';
                        str += '<td>'+message[i].day07+'</t>';
                        str += '<td>'+message[i].day08+'</t>';
                        str += '<td>'+message[i].day09+'</t>';
                        str += '<td>'+message[i].day10+'</t>';
                        str += '<td>'+message[i].day11+'</t>';
                        str += '<td>'+message[i].day12+'</t>';
                        str += '<td>'+message[i].day13+'</t>';
                        str += '<td>'+message[i].day14+'</t>';
                        str += '</tr>';
                    }
                    str += "</tbody></table>";

                    $("#coursesTable").html(str);
                    $("#spanTime").html('('+message[0].startTime.substr(0,10)+'起)');
                    console.log(message);
                }
            });
		}

        
    });

</script>
<script type="text/javascript">

	function admin_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
</script>
<!--<script>
	jQuery(document).ready(function() {
		jQuery(".standardSelect").chosen({
			disable_search_threshold: 10,
			no_results_text: "Oops, nothing found!",
			width: "100%"
		});
	});

	var courseList = [
		['胡青牛', '华佗', '李时珍', '孙思邈', '扁鹊', '张仲景', '英语', '物理', '物理', '数学', '英语', '物理'],
		['数学', '语文', '物理', '物理', '语文', '语文', '语文', '物理', '数学', '语文', '语文', '体育'],
		['语文', '数学', '英语', '物理', '', '数学', '英语', '物理', '语文', '数学', '英语', '物理'],
		['数学', '语文', '物理', '物理', '语文', '语文', '语文', '英语', '数学', '语文', '语文', '体育'],
		['语文', '数学', '英语', '物理', '语文', '数学', '英语', '物理', '语文', '数学', '英语', '物理'],
		['数学', '语文', '物理', '物理', '语文', '语文', '语文', '英语', '数学', '语文', '语文', '体育'],
		['体育', '数学', '', '物理', '语文', '数学', '英语', '物理', '语文', '数学', '英语', '物理']
	];
	var week = window.innerWidth > 360 ? ['周一', '周二', '周三', '周四', '周五', '周六', '周日'] : ['一', '二', '三', '四', '五', '六', '日'];
	var now = new Date();
	var day = now.getDay()
	var courseType = [
		['上午', 4],
		['下午', 4],
		['晚上', 4]
	];

	var times = new Timetables({
		el: '#coursesTable',
		timetables: courseList,
		week: week,
		merge: false,
		timetableType: courseType,
		highlightWeek: day,
		gridOnClick: function(e) {
			console.log(e)
		},
		styles: {
			leftHandWidth: 50,
			Gheight: 50,
			palette: false
		}
	});
</script>-->

</body>

</html>