<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>个人中心</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
		<link rel="stylesheet" href="css/H-ui.min.css" type="text/css" />
	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul>
						<li>
							<a th:href="@{/pCancellation}">注销</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="BaseMark logoBase">
				<a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
				<div class="searchBase">
					<div class="itemBase">
						<div class="divType" data-state="0">全站内容</div>
						<ul>
							<li data-id="1">全站内容</li>
							<li data-id="2">医生查找</li>
							<li data-id="3">新闻动态</li>
						</ul>
					</div>
					<form method="get" action="Search.html" onSubmit="return Kunyi.CheckSearchForm()">
						<input type="hidden" id="Type" name="Type" value="1" />
						<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
						<input type="submit" value="搜索" class="boxsub animated" />
					</form>
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03" id="caidan"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="notice.html" id="Nav_AMenu0" class="PAMenu" title="院系公告">院系公告</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="news.html"  class="PAMenu" title="交流论坛">交流论坛</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="geren.html"  class="PAMenu" title="个人中心">个人中心</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark">
			<div class="bread">您所在的位置<span><a href="index.html">首页</a>><a href="notice.html">新闻动态</a> > 省医快讯</span></div>
			<div class="baseLeft">
				<div class="title title05_19">个人中心</div>
				
				<div class="newsMenu">
					<ul>						
						<li>
							<a href="tiwen.html" title="我要提问"><em>我要提问</em></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="baseRight">
				<div class="title01">个人基本信息</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
							<div class="headLines">
								<form class="form form-horizontal" id="form-article-add">
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2">姓名：</label>
										<div class="formControls col-sm-3">
											<input type="text" class="input-text" th:value="${pt.name}" style="border: none;"  readonly="true">
										</div>
										<label class="form-label col-xs-1 col-sm-2">账号：</label>
										<div class="formControls col-xs-2 col-sm-3">
											<input type="text" class="input-text" th:value="${pt.identification}"  style="border: none;" readonly="true">
										</div>
									</div>
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2">性别：</label>
										<div class="formControls col-sm-3">
											<input type="text" class="input-text" th:value="${pt.sex}"  style="border: none;" readonly="true">
										</div>
										<label class="form-label col-xs-1 col-sm-2">年龄：</label>
										<div class="formControls col-xs-2 col-sm-3">
											<input type="text" class="input-text" th:value="${pt.age}"  style="border: none;" readonly="true">
										</div>
									</div>
									<div class="row cl">
										<label class="form-label col-xs-2 col-sm-2">住址：</label>
										<div class="formControls col-sm-3">
											<input type="text" class="input-text" th:value="${pt.address}"  style="border: none;" readonly="true">
										</div>
										<label class="form-label col-xs-2 col-sm-2">手机号码：</label>
										<div class="formControls col-xs-2 col-sm-3">
											<input type="text" class="input-text" th:value="${pt.tel}" style="border: none;" readonly="true">
											<input type="text" class="input-text" th:value="${pt.id}"  name="" style="border: none;" hidden>
										</div>
									</div>
								</form>
							</div>
							<div class="listBtn">
								<a href="updatepwd.html">修改密码</a>
								<a href="update_pamyself.html">修改个人信息</a>
							</div>
							<div class="listBtn">
							</div>

							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="title01">预约记录</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
							<div class="headLines">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">预约时间</th>
											<th scope="col">科室</th>
											<th scope="col">医生</th>
											<th scope="col">挂号时间</th>
											<th scope="col">挂号费用</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each=" res : ${re}">
											<td th:text="${res.timedetails}"></td>
											<td th:text="${res.administrativeName}"></td>
											<td th:text="${res.doctorName}"></td>
											<td th:text="${#dates.format(res.mytime,'yyyy-MM-dd')}"></td>
										<!--	<i th:text="${#dates.format(problem.time, 'yyyy-MM-dd')}" ></i>-->
											<td th:text="${res.cost}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="title01">待评价</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
							<div class="headLines">
								<table class="table">
									<thead>
										<tr>
											<th >医生姓名</th>
											<th >操作</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="eva :${ev}">
											<td th:text="${eva.doctorname}"></td>
											<td><a th:href="@{/findpingjiabyid(id=${eva.id})}">写评价</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="title01">评价记录</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
								<table class="table">
									<thead>
									<tr>
										<th style="width: 80px">医生姓名</th>
										<th style="width: 150px;vertical-align:top;">评价时间</th>
										<th style="width: 1100px">评价内容</th>
										<th style="width: 100px">操作</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="myh:${myhis}">
										<td th:text="${myh.doctorname}" style=";vertical-align:top;"></td>
										<td th:text="${myh.timer}" style=";vertical-align:top;"></td>
										<td th:text="${myh.context}"></td>
										<td><a th:href="@{/deltheev(pid=${myh.pid})}">删除</a></td>
									</tr>
									</tbody>
								</table>

							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
				<div class="title01">提问记录</div>
				<div class="clear"></div>
				<div class="newList">
					<ul id="ulP">
						<li>
							<div class="headLines">
								<p>暂无</p>
							</div>
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</section>
		<div class="BottomHidden"></div>
		<footer><img src="images/ico_036.png" width="35" class="load" height="18" id="QRMark" />
			<div class="BottomHidden"></div>
			<div class="DWeibo">
				<a href="javascript:;" class="weibo" title="新浪微博">新浪官方微博</a>
				<a href="javascript:;" class="tencent" title="腾讯微博">腾讯官方微博</a>
				<div class="clear"></div>
			</div>
			<div class="websiteInfo">
				<div class="info">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址 &nbsp;<br/> 版权所有：医院标题 </div>
				<ul>
					<li class="first">
						<a href="#" target="_blank">关于我们</a>
					</li>
					<li>
						<a href="#" target="_blank">法律声明</a>
					</li>
					<li>
						<a href="#" target="_blank">网站地图</a>
					</li>
					<li>
						<a href="#" target="_blank">联系我们</a>
					</li>
					<li>
						<a href="#" target="_blank">院长(信访)信箱</a>
					</li>
				</ul>
				<div class="clear"></div>
				<p> &copy;2015-
					<script language="javascript" type="text/javascript">
						document.write(new Date().getFullYear());
					</script>. All Rights Reserved.
					<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">备案号0000001 </a>
					</a>
				</p>
			</div>
		</footer>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.News.js"></script>
		 <script src="lib/jquery.1.9.1/jquery.min.js"></script>

		<script>
			$(function () {

				$.get("doctor/allStatus",function(data){
					var str = "";
					for(var i = 0;i<data.length;++i){
						str += "<li>";
						str += "<a href=\"ys.html \" target=\"_blank \"><img src=\"uploadfiles/thumb/201603221527067.png \" class=\"load \" width=\"120 \" height=\"162 \" title=\""+data[i].name+"\" alt=\"医生 \"></a>";
						str += '<a href="ys.html " target="_blank " title="'+data[i].name+' " class="ATitle ">'+data[i].name+'</a>';
						str += '<h4>'+data[i].administrativeName+','+data[i].job+'</h4>';
						str += '<p>'+data[i].job+'</p>';
						str += '<span hidden>'+data[i].id+'</span>';
						str += '<div> <a class="coffee " target="_blank " href="ys.html?id=' ;
						str += data[i].id+' ">详细</a> <a class="green " href="# " target="_blank ">预约</a> </div> </li>';
					}

					$("#lia").html(str);

				});

				$.get("problem/findByP",function(data){
					if(data == null ||data == ""){
						return "";
					}else{
						var str = "";
						for(var i = 0;i<data.length;++i){
							str += "<li>";
							str += "<div class=\"headLines\">";
							str += "<a href=\"newslist.html?id=\"'+data[i].id+' title=\""+data[i].head+"\" target=\"_blank\" class=\"title\">"+data[i].head+"</a>";
							str += '<p>'+data[i].context+'</p>';
							str += '</div>';
							str += ' <div class="date"> <h3>发布时间</h3>  <h4>'+data[i].time.substr(0,10)+'</h4>      </div>';
							str += ' <div class="listBtn">' +
									'                     <a href="newslist.html?id='+data[i].id+'" title="'+data[i].head+'" target="_blank">进入</a>' +
									'                     <a href="deleteprogreambyid?id='+data[i].id+'" title="'+data[i].head+'" >删除</a>' +
									'                     </div>' +
									'                     <div class="clear"></div>' +
									'                     </li>';
						}
						$("#ulP").html(str);
					}
				})

				$.get("welcome",function(data){
					if(data == null ||data == ""){
						return "";
					}else{
						var str ='<img src="images/ico_013.png" width="16" height="16" />'+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ data;
						$("#caidan").html(str);
					}
				})
			});
		</script>

	</body>
</html>