<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>生成挂号单</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
		<link rel="stylesheet" href="css/H-ui.min.css" type="text/css" />
	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="#" id="Nav_AMenu0" class="PAMenu" title="院系公告">院系公告</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="news.html"  class="PAMenu" title="交流论坛">交流论坛</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="geren.html"  class="PAMenu" title="个人中心">个人中心</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark">
			<div class="bread"><span><a href="index.html"></a><a href="notice.html"></a></span></div>
			<div class="baseLeft">
				<div class="title title05_19">订单支付</div>
			</div>
			<div class="baseRight">
				<div class="title01">订单详情</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
							<div class="headLines">
								<form class="form form-horizontal" >
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2">挂号单编号：</label>
										<div class="formControls col-sm-4">
											<input type="text" class="input-text" th:value="${myreg.id}" style="border: none;" id="id" readonly="true">
										</div>
										<label class="form-label col-xs-1 col-sm-2">预约时间：</label>
										<div class="formControls col-xs-2 col-sm-3">
											<input type="text" class="input-text" th:value="${myreg.timedetails}"   id="timedetails" style="border: none;" readonly="true">
										</div>
									</div>
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2">姓名：</label>
										<div class="formControls col-sm-4">
											<input type="text" class="input-text" th:value="${myreg.patientName}" style="border: none;"  id="patientName" readonly="true">
										</div>
										<label class="form-label col-xs-1 col-sm-2">身份证号：</label>
										<div class="formControls col-xs-2 col-sm-4">
											<input type="text" class="input-text" th:value="${myreg.identification}"  id="identification" style="border: none;" readonly="true">
										</div>
									</div>
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2">医生姓名：</label>
										<div class="formControls col-sm-4">
											<input type="text" class="input-text" th:value="${myreg.doctorName}"  id="doctorName" style="border: none;" readonly="true">
										</div>
										<label class="form-label col-xs-1 col-sm-2">科室：</label>
										<div class="formControls col-xs-2 col-sm-3">
											<input type="text" class="input-text" th:value="${myreg.administrativeName}" id="administrativeName" style="border: none;" readonly="true">
										</div>
									</div>
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2">诊疗费：</label>
										<div class="formControls col-sm-4">
											<input type="text" class="input-text" value="无"  readonly="true" style="border: none;">
										</div>
										<label class="form-label col-xs-1 col-sm-2">挂号费用：</label>
										<div class="formControls col-xs-2 col-sm-3">
											<input type="text" class="input-text" th:value="${myreg.cost}" style="border: none;" readonly="true" id="cost">
											<input type="text" class="input-text" th:value="${myreg.doctorid}" style="border: none;"  id="doctorid" hidden>
											<input type="text" class="input-text" th:value="${myreg.patientId}" style="border: none;"  id="patientId" hidden>
											<input type="text" class="input-text" th:value="${myreg.mytime}" style="border: none;"  id="mytime" hidden>
											<input type="text" class="input-text" th:value="${myreg.status}" style="border: none;"  id="status" hidden>
										</div>
									</div>
									<div class="row cl">
										<label class="form-label col-xs-4 col-sm-2"><b>病人注意</b></label><br />
										<span>1：本挂号单号当日有效，请按上午下午时间段有序就诊，欠费永久记录电脑，在窗口付费补收</span><br/>

									</div>
									<div class="listBtn">
										<a href="javascript:;" id="commit" target="_blank">确认支付</a>
									</div>
								</form>
							</div>

							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
		</section>
		<div class="BottomHidden"></div>
	
		<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.News.js"></script>
	</body>
	<script>
		$(function () {

			$("#commit").click(function () {
				var id = $("#id").val();
				var timedetails = $("#timedetails").val();
				var patientName = $("#patientName").val();
				var identification = $("#identification").val();
				var doctorName = $("#doctorName").val();
				var administrativeName = $("#administrativeName").val();
				var cost = $("#cost").val();
				var doctorid = $("#doctorid").val();
				var patientId = $("#patientId").val();
				var mytime = $("#mytime").val();
				var status = $("#status").val();
				$.get("registration/addguahao?id="+id+'&timedetails='+timedetails+'&patientName='+patientName+
						'&identification='+ identification+'&doctorName='+doctorName+'&administrativeName='+ administrativeName+
						'&cost='+cost+ '&doctorid='+doctorid +'&patientId='+patientId+'&mytime='+mytime+'&status='+status, function(data){
					if(data == 'success'){
						alert('挂号成功');
						location.href="geren.html";
					}if (data == 'tolong'){
						alert('当前时间段预约人数太多，请选择其他时间段');
						location.href="keshiys.html";
					} if(data == 'error'){
						alert('预约时间有误，请重新选择');
						location.href='keshiys.html';
					}if(data=='repeat'){
                        alert("当前时间段您已经预约");
                        location.href='keshiys.html';
					}
				});
			});
		});
	</script>
</html>