<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
		<title>帮助</title>
	</head>
	<body>
		<center>
			<br />
				<div class="row cl">
					<p style="font-size: 14px; color: #00B7EE;">请自主设置每一位医生的值班时间</span>
					<p style="font-size: 14px; color: #00B7EE;">每天同一时间段最多支持三位医生值班</p>
					<p style="font-size: 14px; color: #00B7EE;">设置完毕后，值班时间会自动同步到门户网</p>
				</div>				
		</center>	
	</center>

		<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
		<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
	</body>

</html>