<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta name="renderer" content="webkit" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
<header>
    <div class="topHidden"></div>
    <div class="toolBase">
        <div class="BaseMark">
            <ul>
                <li>
                    <a href="#">登录</a>
                </li>
                <li>
                    <a href="#">注册</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="BaseMark logoBase">
        <a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
        <div class="searchBase">
            <div class="itemBase">
                <div class="divType" data-state="0">全站内容</div>
                <ul>
                    <li data-id="1">全站内容</li>
                    <li data-id="2">医生查找</li>
                    <li data-id="3">新闻动态</li>
                </ul>
            </div>
            <form method="get" action="#" onSubmit="return Kunyi.CheckSearchForm()">
                <input type="hidden" id="Type" name="Type" value="1" />
                <input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
                <input type="submit" value="搜索" class="boxsub animated" />
            </form>
        </div>
    </div>
</header>
<nav>
    <div class="navBase">
        <div class="quickMenuBase" data-type="1">
            <div class="quickMenu01">快捷菜单</div>
            <div class="quickMenu02 animated"></div>
            <div class="quickMenus">
                <ul class="firstUl">
                    <li class="first">
                        <a href="#" class="firstA"><em>预约挂号</em><i class="style01"></i><span></span></a>
                    </li>
                    <li class="first">
                        <a href="#" target="_blank" class="firstA"><em>出诊安排</em><i class="style02"></i><span></span></a>
                    </li>
                    <li class="first">
                        <a href="#" class="firstA"><em>专家介绍</em><i class="style03"></i><span></span></a>
                        <div class="QMSub QMSubMenus">
                            <ul>
                                <li>
                                    <a href="#" title="内科临床医学部">内科临床医学部<span>进入</span></a>
                                </li>
                                <li>
                                    <a href="#" title="外科临床医学部">外科临床医学部<span>进入</span></a>
                                </li>
                                <li>
                                    <a href="#" title="妇儿临床医学部">妇儿临床医学部<span>进入</span></a>
                                </li>
                                <li>
                                    <a href="#" title="心血管病医院">心血管病医院<span>进入</span></a>
                                </li>
                                <li>
                                    <a href="#" title="综合临床医学部">综合临床医学部<span>进入</span></a>
                                </li>
                                <li>
                                    <a href="#" title="门诊部">门诊部<span>进入</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="first">
                        <a href="keshi.html" class="firstA"><em>科室介绍</em><i class="style04"></i><span></span></a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="nav Inav">
            <ul>
                <li class="PMenu">
                    <a href="index.html" class="PAMenu">首页</a>
                </li>
                <li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
                    <a href="#" id="Nav_AMenu0" class="PAMenu" title="院系公告">院系公告</a>

                </li>
                <li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
                    <a href="# " id="Nav_AMenu1 " class="PAMenu " title="交流论坛 ">交流论坛</a>

                </li>
                <li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
                    <a href="# " id="Nav_AMenu2 " class="PAMenu " title="文章 ">文章</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="bannerBase BaseMark ">
    <div class="Banners ">
        <ul class="AnimUl ">
            <li>
                <a href="http://www.hnsrmyy.net/# " title="院党委举行学习党的十八届六中全会精神和 省十次党代会精神专题辅导 "><img src="uploadfiles/thumb/201607271939462.JPG " alt="院党委举行学习党的十八届六中全会精神和 省十次党代会精神专题辅导 " /></a>
            </li>
            <li>
                <a href="http://www.hnsrmyy.net/# " title="我院空中救护成功转运首位重症患者—首个“中国紧急救援山西航空救援基地”落户省医 "><img src="uploadfiles/thumb/2016072719395872.JPG " alt="我院空中救护成功转运首位重症患者—首个“中国紧急救援山西航空救援基地”落户省医 " /></a>
            </li>
            <li>
                <a href="javascript:void(0) " title=" "><img src="uploadfiles/thumb/2016090608460311.jpg " alt=" " /></a>
            </li>
        </ul>
        <div class="tools ">
            <a href="javascript:void(0) " class="prev "><img alt="上一幅 " src="images/btn_prev01.png " width="34 " height="34 " /></a>
            <a href="javascript:void(0) " class="next "><img alt="下一幅 " src="images/btn_next01.png " width="34 " height="34 " /></a>
            <div class="text " id="BannerInfo "></div>
            <ul class="ulMark ">
                <li class="animated "></li>
                <li class="animated "></li>
                <li class="animated "></li>
            </ul>
            <div class="clear "></div>
            <div id="BannerSwitch " class="animated " data-type="0 " data-right="0 ">
                <img src="images/ico_027.png " width="5 " height="7 " class="animated "><span>隐藏</span>
            </div>
        </div>
    </div>
</section>
<section class="NewsBase BaseMark ">
    <div class="noticeBase ">
        <div class="notice notice01 ">
            <a href="# " class="more ">更多</a>
            <div class="title "><em>最新公告</em><span>Latest Announcement</span></div>
            <div class="first ">
                <a href="# " id="ANoticeFirst " target="_blank " title="关于征集阜外华中心血管病医院院徽的公告 "><img src="pic/pic_005.jpg " class="load " width="126 " height="76 " /></a>
                <div><span>2017-01-09</span>
                    <a href='#' title='关于征集阜外华中心血管病医院院徽的公告' target='_blank'>关于征集阜外华中心血管病医院院徽的公告</a>
                </div>
                <div class="clear "></div>
            </div>
            <ul>
                <li><span>2017-01-06</span>
                    <a target="_blank " href="# " title="2017年1月14日（周六）、1月15日（周日）出诊医师排班表 ">2017年1月14日（周六）、1月15日（周日）出诊医师排班表</a>
                </li>
                <li><span>2017-01-05</span>
                    <a target="_blank " href="# " title="医院标题2017年人才招聘面试通知 ">医院标题2017年人才招聘面试通知</a>
                </li>
                <li><span>2017-01-04</span>
                    <a target="_blank " href="# " title="关于我院2017年人才招聘面试工作 提前举行的通知 ">关于我院2017年人才招聘面试工作 提前举行的通知</a>
                </li>
            </ul>
        </div>
        <div class="notice notice02 ">
            <a href="# " class="more ">更多</a>
            <div class="title "><em>文章快讯</em><span>Hospital News</span></div>
            <div class="first ">
                <a href="# " id="ANewsFirst " target="_blank " title="互联智慧疼痛医联体全面启动 "><img src="pic/pic_005.jpg " class="load " width="126 " height="76 " /></a>
                <div><span>2016-12-29</span>
                    <a href='#' title='互联智慧疼痛医联体全面启动' target='_blank'>互联智慧疼痛医联体全面启动</a>
                </div>
                <div class="clear "></div>
            </div>
            <ul>
                <li><span>2016-12-29</span>
                    <a target="_blank " href="# " title="豫医联盟医院标题分会成立 ">豫医联盟医院标题分会成立</a>
                </li>
                <li><span>2016-12-29</span>
                    <a target="_blank " href="# " title="2016年肺癌多学科综合治疗论坛 暨山西省肺癌规范化治疗学习班顺利召开 ">2016年肺癌多学科综合治疗论坛 暨山西省肺癌规范化治疗学习班顺利召开</a>
                </li>
                <li><span>2016-12-29</span>
                    <a target="_blank " href="# " title="2016山西省眼科医师大会开启眼科发展新篇章 ">2016山西省眼科医师大会开启眼科发展新篇章</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear "></div>
</section>
<script language="javascript " type="text/javascript " src="js/Kunyi.Common.js "></script>
<script language="javascript " type="text/javascript " src="js/Kunyi.Index.js "></script>
</body>
</html>