<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>科室导航 - 就诊指南 - 医院标题</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />,
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul id="myul">
						<li>
							<a href="plogin.html">登录</a>
						</li>
						<li>
							<a href="preg.html">注册</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="BaseMark logoBase">
				<a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
				<div class="searchBase">
					<div class="itemBase">
						<div class="divType" data-state="0">全站内容</div>
						<ul>
							<li data-id="1">全站内容</li>
							<li data-id="2">医生查找</li>
							<li data-id="3">新闻动态</li>
						</ul>
					</div>
					<form method="get" action="#" onSubmit="return Kunyi.CheckSearchForm()">
						<input type="hidden" id="Type" name="Type" value="1" />
						<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
						<input type="submit" value="搜索" class="boxsub animated" />
					</form>
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu current"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="#" id="Nav_AMenu0" class="PAMenu" title="就诊指南">就诊指南</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="notice.html" class="PAMenu " title="院系公告 ">院系公告</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="news.html"  class="PAMenu " title="交流论坛 ">交流论坛</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="geren.html"  class="PAMenu " title="个人中心 ">个人中心</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark ">
			<div class="bread ">您所在的位置<span><a href="index.html ">首页</a>><a href="# ">就诊指南</a> > 科室导航</span></div>
			<div class="baseLeft ">
				<div class="title title05_52 ">就诊指南</div>
				<div class="newsMenu ">
					<ul>
						<li class="active ">
							<a href="keshi.html " title="科室导航 "><em>科室导航</em></a>
						</li>						
					</ul>
				</div>
				<div class="partNav ">
					<ul id="ulA">
						<li>
							<a href="javascript:; " data-index="1 ">内科临床医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="2 ">外科临床医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="10 ">妇儿临床医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="13 ">心血管病医院</a>
						</li>
						<li>
							<a href="javascript:; " data-index="3 ">康馨医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="6 ">综合临床医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="15 ">重症医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="4 ">门诊部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="14 ">体检中心</a>
						</li>
						<li>
							<a href="javascript:; " data-index="5 ">急诊医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="7 ">山西省立眼科医院</a>
						</li>
						<li>
							<a href="javascript:; " data-index="8 ">医技医学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="9 ">药学部</a>
						</li>
						<li>
							<a href="javascript:; " data-index="12 ">职能部门</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="baseRight ">
				<div class="title01 ">科室导航</div>
				<div class="partChoice ">
					<h1>快速进入科室</h1>
					<p>请先选择科室所在的医学部然后选择科室名称，即可快速进入您要去的科室。</p>
				</div>

				</div>
			</div>
			<div class="clear "></div>
		</section>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Common.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Secondary.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Department.js "></script>
	</body>

	<script src="lib/jquery.1.9.1/jquery.min.js"></script>
	<script>
		$(function () {
			$.get("administrative/getAll",function (data) {
            	// <li>
                // <a href="javascript:; " data-index="1 ">内科临床医学部</a>
				// 	</li>
				var str = "";
			    for(var i =0;i<data.length;++i){
			        str += "<li>";
			        str += " <a href=\"keshimx.html?id="+data[i].id+"\" data-id='"+data[i].id+"' data-index=\""+(i+1)+"\">"+data[i].name+"</a> ";
					str += "</li>";
				}
				$("#ulA").html(str);
            });
        });

		$.get("index",function(data){
			if(data == null ||data == ""){
				return "";
			}else{
				var str = data;
				/*for(var i = 0;i<data.length;++i){
                    str += "<li>";
                    str += "<a th:href=\"@{/pCancellation}\">注销</a>";
                    str += '</li>';
                }*/
				$("#myul").html(str);
			}
		})

		function f() {
			$.get("pCancellation",function(data){
				if(data != null ||data != ""){
					alert("注销成功");
					location.href="index.html";
				}
			})
		}

	</script>

</html>