<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>呼吸内科 - 科室导航 - 就诊指南 - 医院标题</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul>
						<li>
							<a href="plogin.html">登录</a>
						</li>
						<li>
							<a href="preg.html">注册</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="BaseMark logoBase">
				<a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
				<div class="searchBase">
					<div class="itemBase">
						<div class="divType" data-state="0">全站内容</div>
						<ul>
							<li data-id="1">全站内容</li>
							<li data-id="2">医生查找</li>
							<li data-id="3">新闻动态</li>
						</ul>
					</div>
					<form method="get" action="Search.html" onsubmit="return Kunyi.CheckSearchForm()">
						<input type="hidden" id="Type" name="Type" value="1" />
						<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onfocus="Kunyi.cls(event)" onblur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
						<input type="submit" value="搜索" class="boxsub animated" />
					</form>
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu current"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="jiuzhen.html" class="PAMenu" title="就诊指南">就诊指南</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="notice.html " class="PAMenu " title="院系公告' ">院系公告</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="news.html "  class="PAMenu " title="交流论坛 ">交流论坛</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="geren.html " class="PAMenu " title="个人中心 ">个人中心</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark PartBanner ">
			<div class="introLeft ">
				<div class="lefttitle ">科室栏目<span>Column sections</span></div>
				<ul>
					<li>
						<a href="#">科室简介</a>
					</li>				
				</ul>
				<div class="clear "></div>
			</div>
			<div class="bannerLeft ">
				<img src='images/pic_temp.jpg' alt='呼吸内科' /><span class='import1'></span>
			</div>
			<div class="bannerRight ">
				<div class="righttitle ">
					<h1 th:text="${ad.name}">呼吸内科</h1>
					<span hidden th:text="${ad.id}" id="aId"></span>
					<div class="clear "></div>
				</div>
				<div class="rightbtn ">
					<a href="javascript:; " id="AOnDuty " class="green ">出诊安排</a>
					<a class="blue " href="keshi.html ">返回科室导航</a>
				</div>
				<div class="righttel ">
					<h2 id="H2Tel "></h2>
					<h3 th:text="${ad.tel}">本科室电话 Telephone Number</h3></div>
			</div>
			<div class="clear "></div>
		</section>
		<section class="BaseMark PartIntro ">
			<div class="introLeft ">
				<div class="lefttitle ">科室栏目<span>Column sections</span></div>
				<ul>
					<li>
						<a href="OfficeArticle-11.html ">科室简介</a>
					</li>
					<li id="LIExpertInfo2 ">
						<a href="keshiys.html ">专家介绍</a>
					</li>
				</ul>
				<ul class='margRt'>
					<li>
						<a href='OfficeNewsList-11-2.html' title='健康教育'>健康教育</a>
					</li>
				</ul>
				<div class="clear "></div>
			</div>
			<div class="introRight ">
				<div class="left "><img src="images/ksjj-1.gif " width="72 " height="105 " />
					<h3 th:text="${ad.name}"></h3>
					<span hidden th:text="${ad.id}"></span>
					<h4 th:text="${ad.type}">INTRODUCTION</h4></div>
				<div class="right ">
					<h1 id="H1Type">国家临床重点专科</h1>
					<p id="PDescription">我科始建于上世纪70年代初，
						目前为卫生部国家重点专科建设项目单位，山西省重点学科、
						“山西省呼吸内科医疗质量控制中心”、“山西省呼吸疾病诊疗中心”、
						“山西省睡眠呼吸障碍诊疗中心”、山西省睡眠呼吸疾病网路中心、
						“卫生部内镜诊疗技术培训基地”依托单位。成为全省呼吸与危重症医学科的龙头科室。
						目前开放床位218张，RICU床位31张。拥有独立的山西省睡眠呼吸障碍诊疗中心、呼吸内镜中心
						，是山西省睡眠技师</p>
					
				</div>
			</div>
			<div class="clear "></div>
		</section>
		<section id="AreaDoctors " class="BaseMark doctorsBase partDoctor ">
			<div class="toolsPart ">
				<div class="title ">专家介绍<span>Expert Introduction</span></div>
				<div class="clear "></div>
			</div>
			<div class="contents ">
				<ul data-num="0" id="doc">
					<li>
						<a href="# " class="img "><img src="/uploadfiles/thumb/2013102215395834.jpg " alt="马厚志 " title="马厚志 " width="120 " height="162 " /></a>
						<a href="#" class="name ">马厚志</a>
						<a href="# " class="office ">呼吸内科</a>
						<a href="#" class="post ">主任医师</a>
						<a href="ys.html " class="btn more ">详细</a>
						<a href="NewsDetail-449.html " target="_blank " class="btn date ">预约</a>
					</li>
				</ul>
				<div class="hackR "></div>
				<div class="hackL "></div>
			</div>
		</section>
		<footer><img src="images/ico_036.png " width="35 " class="load " height="18 " id="QRMark " />
			<div class="BottomHidden "></div>
			<div class="DWeibo ">
				<a href="javascript:; " class="weibo " title="新浪微博 ">新浪官方微博</a>
				<a href="javascript:; " class="tencent " title="腾讯微博 ">腾讯官方微博</a>
				<div class="clear "></div>
			</div>
			<div class="urlHidden "> </div>
			<div class="websiteInfo ">
				<div class="info ">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址 &nbsp;<br/> 版权所有：医院标题 </div>
				<ul>
					<li class="first ">
						<a href="#" target="_blank ">关于我们</a>
					</li>
					<li>
						<a href="#" target="_blank ">法律声明</a>
					</li>
					<li>
						<a href="#" target="_blank ">网站地图</a>
					</li>
					<li>
						<a href="#" target="_blank ">联系我们</a>
					</li>
					<li>
						<a href="#" target="_blank ">院长(信访)信箱</a>
					</li>
				</ul>
				<div class="clear "></div>
				<p> &copy;2015-
					<script language="javascript " type="text/javascript ">
						document.write(new Date().getFullYear());
					</script>. All Rights Reserved.
					<a href="#" target="_blank ">备案号0000001 </a>
					</a>
			</p>
			</div>
		</footer>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Common.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Secondary.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Office.js "></script>
	</body>
	<script src="lib/jquery.1.9.1/jquery.min.js"></script>
	<script>
		$(function () {
		    var s = $("#aId").text();
			$.get("doctor/admini?aId="+s,function (data) {
			    var str = "";
				for(var i=0;i<data.length;++i){
				    str += "<li>";
				    str += '<a href="#" class="img "><img src="/uploadfiles/thumb/2013102215395834.jpg " alt="'+data[i].name+'" title="'+data[i].name+'" width="120 " height="162 " /></a>';
                    str += '<a href="#" class="name ">'+data[i].name+'</a>';
                    str += '<a href="# " class="office ">呼吸内科</a>';
				    str += '<a href="#" class="post ">'+data[i].job+'</a>'
					str += '<a href="ys.html " class="btn more ">详细</a>';
				    str += '<a href="NewsDetail-449.html " target="_blank " class="btn date ">预约</a>';
				    str += "</li>";
				}
				$("#doc").html(str);
            });
        })

	</script>


</html>