<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>医生信息</title>
		<meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药" />
		<meta name="Description" content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。" />
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>

	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul id="myul">
						<li>
							<a href="plogin.html">登录</a>
						</li>
						<li>
							<a href="preg.html">注册</a>
						</li>
					</ul>
				</div>
			</div>

		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu current"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="#" id="Nav_AMenu0" class="PAMenu" title="医生信息">医生信息</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="notice.html "  class="PAMenu " title="院系公告 ">院系公告</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="news.html "  class="PAMenu " title="交流论坛 ">交流论坛</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="geren.html "  class="PAMenu " title="个人中心 ">个人中心</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark ">
			<div class="bread ">您所在的位置<span><a href="index.html ">首页</a>
				<a href="# ">科室导航</a> >
				<a href="# ">医生信息</a> >
				专家介绍</span></div>
			<div class="baseLeft ">
				<div class="partLeft ">
					<div class="title partTitle ">
						<a href="keshimx.html ">呼吸内科</a>
					</div>
					<div class="newsMenu depmMenu ">
						<ul>
							<li class="first ">
								<a href="keshi.html"><em>科室简介</em></a>
							</li>
							<li class="active ">
								<a href="keshiys.html "><em>医生介绍</em></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="partRight ">
				<div class="title01 ">专家介绍</div>
				<div class="Expert ">
					<ul id="lia">
						<li >
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>
						<li>
							<a href="ys.html " target="_blank "><img src="uploadfiles/thumb/201603221527067.png " class="load " width="120 " height="162 " title="医生 " alt="医生 "></a>
							<a href="ys.html " target="_blank " title="医生 " class="ATitle ">医生</a>
							<h4>主任医师，科主任</h4>
							<p>医院标题呼吸内科科主任……</p>
							<div>
								<a class="coffee " target="_blank " href="ys.html ">详细</a>
								<a class="green " href="# " target="_blank ">预约</a>
							</div>
						</li>

					</ul>
					<div class="clear "></div>
				</div>
				<div class="clear "></div>
			</div>
			<div class="clear "></div>
		</section>
		<div class="BottomHidden "></div>
		<div id="QRBase ">
		</div>
		<footer><img src="images/ico_036.png " width="35 " class="load " height="18 " id="QRMark " />
			<div class="urlHidden "> </div>
			<div class="websiteInfo ">
				<div class="info ">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址 &nbsp;<br/> 版权所有：医院标题 </div>
				<ul>
					<li class="first ">
						<a href="# " target="_blank ">关于我们</a>
					</li>
					<li>
						<a href="# " target="_blank ">法律声明</a>
					</li>
					<li>
						<a href="# " target="_blank ">网站地图</a>
					</li>
					<li>
						<a href="#" target="_blank ">联系我们</a>
					</li>
					<li>
						<a href="# " target="_blank ">院长(信访)信箱</a>
					</li>
				</ul>
				<div class="clear "></div>
				<p> &copy;2015-
					<script language="javascript " type="text/javascript ">
						document.write(new Date().getFullYear());
					</script>. All Rights Reserved.
					<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action " target="_blank ">备案号0000001 </a>
				</p>
			</div>
		</footer>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Common.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Secondary.js "></script>
	</body>
	<script src="lib/jquery.1.9.1/jquery.min.js"></script>
	<script>
		$(function () {
			$.get("doctor/allStatus",function(data){
			    console.log(data);
			    var str = "";
			    for(var i = 0;i<data.length;++i){
			        str += "<li>";
			        str += "<a href=\"ys.html \" target=\"_blank \"><img src=\"uploadfiles/thumb/201603221527067.png \" class=\"load \" width=\"120 \" height=\"162 \" title=\""+data[i].name+"\" alt=\"医生 \"></a>";
			        str += '<a href="ys.html " target="_blank " title="'+data[i].name+' " class="ATitle ">'+data[i].name+'</a>';
			        str += '<h4>'+data[i].administrativeName+'</h4>';
			        str += '<p>'+data[i].job+'</p>';
			        str += '<span hidden>'+data[i].id+'</span>';
			        str += '<div> <a class="coffee " target="_blank " href="ys.html?id=' ;
					str += data[i].id+' ">详细</a> </div> </li>';
				}

			    $("#lia").html(str);

			});

			$.get("index",function(data){
				if(data == null ||data == ""){
					return "";
				}else{
					var str = data;
					$("#myul").html(str);
				}
			})
        });

		function f() {
			$.get("pCancellation",function(data){
				if(data != null ||data != ""){
					alert("注销成功");
					location.href="index.html";
				}
			})
		}

	</script>
</html>