<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ela Admin - HTML5 Admin Template</title>
	<meta name="description" content="Ela Admin - HTML5 Admin Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/pe-icon-7-filled.css">
	<link rel="stylesheet" href="assets/css/flag-icon.min.css">
	<link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
	<link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="col-lg-12">
	<div class="card">
		<div class="card-body card-block">
			<div class="col col-md-9">

			</div>
		</div><br />
		<div class="card-body">
			<table id="bootstrap-data-table" class="table table-striped table-bordered">
				<thead>
				<tr>
					<td hidden="hidden"></td>
					<th>标题</th>
					<th>发布时间</th>
					<th>作者</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody id="table">
				<tr th:each="l : ${list}">
					<td th:text="${l.id}" hidden="hidden"></td>
					<td th:text="${l.topic}"></td>
					<td th:text="${#dates.format(l.time, 'yyyy-MM-dd')}"></td>
					<td th:text="${aname}"></td>
					<td>
						<button class="look" title="查看详细信息并编辑"><i class="fa fa-pencil" style="color: blue"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button title="删除" onclick='del(this)' class='del' ><i class="fa fa-trash-o" style="color: red"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- .content -->
<div class="clearfix"></div>
<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/init/datatables-init.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    function admin_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

</script>

</body>

</html>