<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="./static/admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="./static/admin/css/admin.css"/>
		<script src="./lib/jquery/1.9.1/jquery.min.js" ></script>

		<script>
			$(function () {
				if($("dl").find("dd").length == 0){
					$("dl").remove();
				}
				$("li").find("dl").eq(1).remove();

				$.get("getMenu",function (data) {
					// var str = data.split('\n');
					if (data == "root") {
						var main = document.getElementById("mainIframe").setAttribute("src", "welcome.html");
					}
					if (data == "医生") {
						var main = document.getElementById("mainIframe").setAttribute("src", "welcome_doctor.html");
					}
				})

			});
			function  gotoFuc(value) {
				var main = document.getElementById("mainIframe");
				main.setAttribute("src",value.getAttribute("data-url")+"");
			}
		</script>
	</head>
	<body>
		<div class="main-layout" id='main-layout'>
			<!--侧边栏-->
			<div class="main-layout-side">
				<div class="m-logo">
				</div>
				<ul id="treeMenu" class="layui-nav layui-nav-tree" lay-filter="leftNav">

					<li class="layui-nav-item" th:each="m,var : ${menu}" th:if="${m.pid} == 0">

						<a href="javascript:;"    th:attr="data-url=${m.url}" th:data-id="${var.count}*100" th:data-text="${m.name}"  th:text="${m.name}" ><i class="iconfont">&#xe606;</i >123456</a>
						<dl class="layui-nav-child" >
							<dd th:each="m2,var2 : ${menu}" th:if="${m2.pid} == ${m.id}">
								<a href="javascript:;" th:data-url="${m2.url}" th:data-id='${var.count}+${var2.count}' th:data-text="${m2.name}" th:text="${m2.name}">
									<span class="l-line"></span>最新文章
								</a>
							</dd>

						</dl>

					</li>

				</ul>
			</div>
			<!--右侧内容-->
			<div class="main-layout-container">
				<!--头部-->
				<div class="main-layout-header">
					<div class="menu-btn" id="hideBtn">
						<a href="javascript:;">
							<span class="iconfont">&#xe60e;</span>
						</a>
					</div>
					<ul class="layui-nav" lay-filter="rightNav">
					  <li class="layui-nav-item">
					    <a href="javascript:;" id="myInfo" data-url="admin-info.html" data-id='16' data-text="个人信息"></a>
					  </li>
					  <li class="layui-nav-item"><a th:href="@{/Cancellation}">退出</a></li>
					</ul>
				</div>
				<!--主体内容-->
				<div class="main-layout-body">
					<!--tab 切换-->
					<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
					  <ul class="layui-tab-title">
					    <li class="layui-this welcome">个人中心</li>
					  </ul>
					  <div class="layui-tab-content">
					    <div class="layui-tab-item layui-show" style="background: #f5f5f5;">
					    	<!--1-->
					    	<iframe id="mainIframe" src="" width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
					    	<!--1end-->
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<!--遮罩-->
			<div class="main-mask">

			</div>
		</div>
		<script type="text/javascript">
			var scope={
				link:'./welcome.html'
			}
		</script>
		<script src="./static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="./static/admin/js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>

<script>
    $(document).ready(function(){
        $.get("getUser",function (data) {
            $("#myInfo").text(data);
        })

    });
</script>



