<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>省医快讯 - 新闻动态 - 医院标题</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul>
						<li>
							<a href="Office-71.html">登录/注册</a>
						</li>
						<li>
							<a href="History.html">网上院史馆</a>
						</li>
					</ul>
					<div class="language">选择语言</div>
					<div class="langBtn animated"><i class="flag"></i>中文<i class="downBtn"></i>
						<a href="javasript:;"><img src="images/ico_003.png" class="animated" width="13" height="13" />English</a>
					</div>
				</div>
			</div>
			<div class="BaseMark logoBase">
				<a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
				<div class="searchBase">
					<div class="itemBase">
						<div class="divType" data-state="0">全站内容</div>
						<ul>
							<li data-id="1">全站内容</li>
							<li data-id="2">医生查找</li>
							<li data-id="3">新闻动态</li>
						</ul>
					</div>
					<form method="get" action="Search.html" onSubmit="return Kunyi.CheckSearchForm()">
						<input type="hidden" id="Type" name="Type" value="1" />
						<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
						<input type="submit" value="搜索" class="boxsub animated" />
					</form>
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="#" id="Nav_AMenu0" class="PAMenu" title="院系公告">院系公告</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="luntan.html" id="Nav_AMenu1" class="PAMenu" title="交流论坛">交流论坛</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark">
			<div class="bread">您所在的位置<span><a href="index.html">首页</a>><a href="news.html">新闻动态</a> > 省医快讯</span></div>
			<div class="baseLeft">
				<div class="title title05_19">新闻动态</div>
				<div class="newsMenu">
					<ul>						
						<li>
							<a href="news.html" title="最新公告"><em>最新公告</em></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="baseRight">
				<div class="title01">省医快讯</div>
				<div class="title02">
					<a href="news.html?D=1" id="DateAscOrDesc" class="current">发布时间排序</a>
					<a href="news.html?H=1" id="HitAscOrDesc">阅览次数排序</a>
				</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
							<div class="headLines">
								<a href="newslist.html" title="互联智慧疼痛医联体全面启动" target="_blank" class="title">互联智慧疼痛医联体全面启动</a>
								<p>12月24日-25日，“国家临床重点专科?中日医院疼痛医联体”启动仪式、“医院标题互联智慧疼痛医联体”成立仪式暨疼痛诊疗规范化培训班在巩义市人民医院举行。</p>
							</div>
							<div class="date">
								<h3>发布时间</h3>
								<h4>2016/12/29</h4>
								<p>阅览次数<span>280</span></p>
							</div>
							<div class="listBtn">
								<a href="newslist.html" title="互联智慧疼痛医联体全面启动" target="_blank">进入</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="headLines">
								<a href="newslist.html" title="互联智慧疼痛医联体全面启动" target="_blank" class="title">互联智慧疼痛医联体全面启动</a>
								<p>12月24日-25日，“国家临床重点专科?中日医院疼痛医联体”启动仪式、“医院标题互联智慧疼痛医联体”成立仪式暨疼痛诊疗规范化培训班在巩义市人民医院举行。</p>
							</div>
							<div class="date">
								<h3>发布时间</h3>
								<h4>2016/12/29</h4>
								<p>阅览次数<span>280</span></p>
							</div>
							<div class="listBtn">
								<a href="newslist.html" title="互联智慧疼痛医联体全面启动" target="_blank">进入</a>
							</div>
							<div class="clear"></div>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</section>
		<div class="BottomHidden"></div>
		<footer><img src="images/ico_036.png" width="35" class="load" height="18" id="QRMark" />
			<div class="BottomHidden"></div>
			<div class="DWeibo">
				<a href="javascript:;" class="weibo" title="新浪微博">新浪官方微博</a>
				<a href="javascript:;" class="tencent" title="腾讯微博">腾讯官方微博</a>
				<div class="clear"></div>
			</div>
			<div class="websiteInfo">
				<div class="info">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址 &nbsp;<br/> 版权所有：医院标题 </div>
				<ul>
					<li class="first">
						<a href="jianjie.html" target="_blank">关于我们</a>
					</li>
					<li>
						<a href="Declaration.html" target="_blank">法律声明</a>
					</li>
					<li>
						<a href="SiteMap.html" target="_blank">网站地图</a>
					</li>
					<li>
						<a href="Article-57.html" target="_blank">联系我们</a>
					</li>
					<li>
						<a href="Complain.html" target="_blank">院长(信访)信箱</a>
					</li>
				</ul>
				<div class="clear"></div>
				<p> &copy;2015-
					<script language="javascript" type="text/javascript">
						document.write(new Date().getFullYear());
					</script>. All Rights Reserved.
					<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">备案号0000001 </a>
					</a>
				</p>
			</div>
		</footer>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.News.js"></script>
	</body>
</html>