<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>互联智慧疼痛医联体全面启动 - 省医快讯 - 新闻动态 - 医院标题</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
	</head>
	<body>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul>
						<li>
							<a href="History.html">登录</a>
						</li>
						<li>
							<a href="Message.html">注册</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="BaseMark logoBase">
				<a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
				<div class="searchBase">
					<div class="itemBase">
						<div class="divType" data-state="0">全站内容</div>
						<ul>
							<li data-id="1">全站内容</li>
							<li data-id="2">医生查找</li>
							<li data-id="3">新闻动态</li>
						</ul>
					</div>
					<form method="get" action="Search.html" onsubmit="return Kunyi.CheckSearchForm()">
						<input type="hidden" id="Type" name="Type" value="1" />
						<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onfocus="Kunyi.cls(event)" onblur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
						<input type="submit" value="搜索" class="boxsub animated" />
					</form>
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="jiuzhen.html" id="Nav_AMenu0" class="PAMenu" title="就诊指南">就诊指南</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="jianjie.html " id="Nav_AMenu1 " class="PAMenu " title="医院概况 ">医院概况</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="kexue.html " id="Nav_AMenu2 " class="PAMenu " title="科学研究 ">科学研究</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark ">
			<div class="bread ">您所在的位置<span><a href="index.html ">首页</a>><a href="news.html ">新闻动态</a> > 省医快讯</span></div>
			<div class="baseLeft ">
				<div class="title title05_19 ">新闻动态</div>
			</div>
			<div class="baseRight ">
				<div class="title01 ">省医快讯</div>
				<div class="article detail ">
					<h2 id="H2Title ">互联智慧疼痛医联体全面启动</h2>
					<div id="DIVTool " class="title04 ">
						<span id="SPANDate ">发布日期：2016-12-29</span>
						<span id="SPANNum " style="border:none; margin-right:0; ">浏览次数（280）</span>
						<div class="itemBase " id="phoneArticle "></div>
					</div>
					<div class=" clear "></div>
					<div id="DIVContent " class="DIVContent ">
						<p>
							12月24日-25日，“国家临床重点专科?中日医院疼痛医联体”启动仪式、“医院标题互联智慧疼痛医联体”成立仪式暨2016年山西省疼痛诊疗规范化培训班在巩义市人民医院举行。山西省卫计委副主任黄红霞，中日友好医院疼痛科主任、中国医师协会疼痛分会会长樊碧发教授，巩义市人民政府市长孙淑芳、副市长刘军杰，我院副院长申志强、麻醉科主任孟凡民及巩义市卫计委等相关单位负责同志参加仪式。我院疼痛科主任夏令杰主持开幕式。
						</p>
						<p>
							樊碧发教授分别向我院及巩义市人民医院授予“国家临床重点专科?中日医院疼痛医联体单位”铭牌；黄红霞副主任及申志强副院长向我省23家医院授予“医院标题互联智慧疼痛专科医联体单位”铭牌。仪式结束后，来自省内外的二十余名疼痛及相关学科专家进行了精彩的学术讲座。会议为疼痛专科的发展方向和新技术的临床应用的学术交流与推广搭建了平台，促进山西省疼痛学科分级诊疗体系的快速形成，将惠及全省更多疼痛疾病患者。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;（疼痛科）
						</p>
						<p>
							<br />
						</p>
					</div>
				</div>
				<div class="PrevNext ">
					<p><span>上一篇</span>
						<a disabled='disabled' title='已经是第一篇'>[已经是第一篇]</a>
					</p>
					<p><span>下一篇</span>
						<a href="NewsDetail-8478.html " title="豫医联盟医院标题分会成立 ">豫医联盟医院标题分会成立</a>
					</p>
				</div>
			</div>
			<div class="clear "></div>
		</section>
	<!--	<button class="QRClose animated ">关闭</button>-->
		<script language="javascript " type="text/javascript " src="js/Kunyi.Common.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Secondary.js "></script>
	</body>
</html>