<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>省医快讯 - 新闻动态 - 医院标题</title>
		<meta name="robots" content="All" />
		<noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="css/secondary.css" type="text/css" />
		<script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
	</head>
	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>
			<div class="topHidden"></div>
			<div class="toolBase">
				<div class="BaseMark">
					<ul>
						<li>
							<a href="plogin.html">登录</a>
						</li>
						<li>
							<a href="preg.html">注册</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="BaseMark logoBase">
				<a href="Index.html"><img src="images/logo.jpg" class="load" /></a>
				<div class="searchBase">
					<div class="itemBase">
						<div class="divType" data-state="0">全站内容</div>
						<ul>
							<li data-id="1">全站内容</li>
							<li data-id="2">医生查找</li>
							<li data-id="3">新闻动态</li>
						</ul>
					</div>
					<form method="get" action="Search.html" onSubmit="return Kunyi.CheckSearchForm()">
						<input type="hidden" id="Type" name="Type" value="1" />
						<input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords" />
						<input type="submit" value="搜索" class="boxsub animated" />
					</form>
				</div>
			</div>
		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="#" id="Nav_AMenu0" class="PAMenu" title="院系公告">院系公告</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="news.html"  class="PAMenu" title="交流论坛">交流论坛</a>
						</li>
						<li class="PMenu"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="geren.html" class="PAMenu" title="个人中心">个人中心</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="BaseMark">
			<div class="bread">您所在的位置<span><a href="index.html">首页</a>><a href="notice.html">新闻动态</a> > 省医快讯</span></div>
			<div class="baseLeft">
				<div class="title title05_19">公告展示</div>
				<div class="newsMenu">
					<ul>						
						<li>
							<a href="notice.html" title="最新公告"><em>最新公告</em></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="baseRight">
				<div class="title01">本院公告</div>
				<div class="title02">
					<a href="notice.html?D=1" id="DateAscOrDesc" class="current">发布时间排序</a>
				</div>
				<div class="clear"></div>
				<div class="newList">
					<ul>
						<li>
							<div class="headLines">

								<table >
									<thead>
									<tr>
										<th ></th>
										<th ></th>
										<th></th>
									</tr >
									</thead>
									<tbody>
									<tr th:each="an : ${annt}">
										<td th:text="${an.topic}" style="text-align: left; width: 800px;"></td>
										<td th:text="${#dates.format(an.releaseTime,'yyyy/MM/dd')}" style="text-align: left; width: 500px;"></td>
										<td style="text-align: left; width: 400px;"><a th:href="@{/findgonggaobyid(id=${an.id})}" >查看详细</a></td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="clear"></div>
						</li>

					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</section>
		<div class="BottomHidden"></div>
		<footer><img src="images/ico_036.png" width="35" class="load" height="18" id="QRMark" />
			<div class="BottomHidden"></div>
			<div class="DWeibo">
				<a href="javascript:;" class="weibo" title="新浪微博">新浪官方微博</a>
				<a href="javascript:;" class="tencent" title="腾讯微博">腾讯官方微博</a>
				<div class="clear"></div>
			</div>
			<div class="websiteInfo">
				<div class="info">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址 &nbsp;<br/> 版权所有：医院标题 </div>
				<ul>
					<li class="first">
						<a href="jianjie.html" target="_blank">关于我们</a>
					</li>
					<li>
						<a href="Declaration.html" target="_blank">法律声明</a>
					</li>
					<li>
						<a href="SiteMap.html" target="_blank">网站地图</a>
					</li>
					<li>
						<a href="Article-57.html" target="_blank">联系我们</a>
					</li>
					<li>
						<a href="Complain.html" target="_blank">院长(信访)信箱</a>
					</li>
				</ul>
				<div class="clear"></div>
				<p> &copy;2015-
					<script language="javascript" type="text/javascript">
						document.write(new Date().getFullYear());
					</script>. All Rights Reserved.
					<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">备案号0000001 </a>
					</a>
				</p>
			</div>
		</footer>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Common.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Secondary.js"></script>
		<script language="javascript" type="text/javascript" src="js/Kunyi.News.js"></script>
	</body>
</html>