<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>病人管理</title>
	<meta name="description" content="Ela Admin - HTML5 Admin Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/pe-icon-7-filled.css">
	<link rel="stylesheet" href="assets/css/flag-icon.min.css">
	<link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
	<link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div class="col-lg-12">
	<div class="card">
		<div class="card-body card-block">
			<form action="select" method="get">
				<div class="col col-md-7">
					<div class="input-group">
						<div class="col col-md-3">
							<a href="javascript:;" onclick="admin_add('添加病人','add_patient.html','800','400')" class="btn btn-primary"><i class="fa fa-plus-circle"></i> 添加病人</a>
						</div>

						<input type="text" id="name" name="name" placeholder="请输入患者姓名" class="form-control">&nbsp;
						<div class="input-group-btn">
							<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> 搜索</button>
						</div></form>
		</div>
	</div>
</div><br />
<div class="card-body">
	<table id="bootstrap-data-table" class="table table-striped table-bordered">
		<thead>
		<tr>
			<th>患者姓名</th>
			<th>身份证号码</th>
			<th>性别</th>
			<th>年龄</th>
			<th>联系电话</th>
			<th>住址</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="pa : ${puser}">
			<td th:text="${pa.name}"></td>
			<td th:text="${pa.identification}"></td>
			<td th:text="${pa.sex}"></td>
			<td th:text="${pa.age}"></td>
			<td th:text="${pa.tel}"></td>
			<td th:text="${pa.address}"></td>
			<td>
				<a title="查看详细信息" th:href="@{/selPatientbyid(id=${pa.id})}"><i class="fa fa-share-square"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a title="删除" th:href="@{/Patient/delPatientbyid(id=${pa.id})}"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		</tbody>
	</table>
</div>
</div>
</div>
<script src="assets/js/lib/data-table/datatables.min.js"></script><!--分页用的js-->
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/init/datatables-init.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
	function admin_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
</script>

</body>

</html>