<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>登录</title>
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="js/easyform.js"></script>
	</head>
	<body>
		<br/><br/><br/><br/><br/><br/><br/><br/>
		<div class="form-div">
			<form id="reg-form" action="" method="post">
				<table>
					<tr>
						<td>账号</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>密码</td>
						<td><input type="password"></td>
					</tr>													
				</table>
				<div class="buttons">
					<input value="登录" type="submit" style="margin-right:20px; margin-top:20px;">
					<a href="preg.html" style="margin-right:45px; margin-top:20px;">没有账号，去注册</a>
				</div>
				<br class="clear">
			</form>
		</div>
		<!--<script type="text/javascript">
			$(document).ready(function() {
				$('#reg-form').easyform();
			});
		</script>-->
	</body>
</html>