<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <title>添加病人信息</title>
    <style>
        .order {
            height: 60px;
            line-height: 60px;
            text-align: center;
        }

        .order .line {
            display: inline-block;
            width: 180px;
            border-top: 2px solid #00B5F9;
        }

        .order .txt {
            color: #686868;
            vertical-align: middle;
            font-size: 16px;
        }
    </style>
</head>

<body>

<form class="form form-horizontal">
    <div class="order">
        <span class="line"></span>
        <span class="txt">患者详细信息</span>
        <span class="line"></span>
    </div>
<center>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名：</label>
        <div class="formControls col-sm-3">
            <input type="text" class="input-text" th:value="${mypat.name}"  style="border: none" readonly="true">
        </div>
        <label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>性别：</label>
        <div class="formControls col-xs-2 col-sm-3">
            <input type="text" class="input-text" th:value="${mypat.sex}"  style="border: none" readonly="true">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>家庭住址：</label>
        <div class="formControls col-sm-3">
            <input type="text" class="input-text" th:value="${mypat.address}" style="border: none" readonly="true">
        </div>
        <label class="form-label col-xs-1 col-sm-2"><span class="c-red">*</span>年龄：</label>
        <div class="formControls col-xs-2 col-sm-3">
            <input type="text" class="input-text" th:value="${mypat.age}" style="border: none" readonly="true">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>身份证号：</label>
        <div class="formControls col-sm-3">
            <input type="text" class="input-text" th:value="${mypat.identification}" style="border: none" readonly="true">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电话号码：</label>
        <div class="formControls col-sm-3">
            <input type="text" class="input-text" th:value="${mypat.tel} " style="border: none" readonly="true">
        </div>
    </div>

   <div class="row cl">
        <div class="formControls col-xs-2 col-sm-2">
            <a class="btn btn-default radius" href="Article_record.html">返回</a>
        </div>
    </div>
</form>
</center>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
</body>
</html>