<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<title>医生主页</title>
		<link rel="stylesheet" type="text/css" href="./static/admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="./static/admin/css/admin.css"/>
		<link rel="stylesheet" href="assets/css/normalize.css">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/themify-icons.css">
		<link rel="stylesheet" href="assets/css/pe-icon-7-filled.css">
		<link rel="stylesheet" href="assets/css/flag-icon.min.css">
		<link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
		<div class="wrap-container welcome-container">
			<div class="row">
				<div class="welcome-left-container col-lg-11">
					<div class="data-show">
						<ul class="clearfix">
							<li class="col-sm-12 col-md-4 col-xs-12">
								<a href="javascript:;" class="clearfix">
									<div class="icon-bg bg-org f-l">
										<span class="iconfont">&#xe606;</span>
									</div>
									<div class="right-text-con">
										<p class="name">评论总数</p>
										<p><span class="color-org" id="evcount">0</span>数据<span class="iconfont">&#xe628;</span></p>
									</div>
								</a>
							</li>
							<li class="col-sm-12 col-md-4 col-xs-12">
								<a href="javascript:;" class="clearfix">
									<div class="icon-bg bg-blue f-l">
										<span class="iconfont">&#xe602;</span>
									</div>
									<div class="right-text-con">
										<p class="name">最近预约</p>
										<p><span class="color-blue" id="lastre">0</span>数据<span class="iconfont">&#xe60f;</span></p>
									</div>
								</a>
							</li>
							<li class="col-sm-12 col-md-4 col-xs-12">
								<a href="javascript:;" class="clearfix">
									<div class="icon-bg bg-green f-l">
										<span class="iconfont">&#xe605;</span>
									</div>
									<div class="right-text-con">
										<p class="name">累计挂号数</p>
										<p><span class="color-green" id="reallcount">7</span>数据<span class="iconfont">&#xe60f;</span></p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="wrap-container clearfix">
				<div class="column-content-detail">

					<div class="layui-form" id="table-list">

					</div>
				</div>
		</div>					
	</div>
			</div>
		</div>
		<script src="./static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
			<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
			<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
			<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
		<script type="text/javascript">
			layui.use(['layer','jquery'], function(){
				var layer 	= layui.layer;
				var $=layui.jquery;
			});

			$(function () {
				$.get("doctor/findlast",function(data){
					if(data == null ||data == ""){
						return "";
					}else{
						var str = data;
						$("#evcount").text(str);
					}
				})

				$.get("doctor/findreconutall",function(data){
					if(data == null ||data == ""){
						return "";
					}else{
						var str = data;
						$("#lastre").text(str);
					}
				})

				$.get("doctor/findevcountall",function(data){
					if(data == null ||data == ""){
						return "";
					}else{
						var str = data;
						console.log(data);
						$("#reallcount").text(str);
					}
				})

			});


		</script>
	</body>
</html>
