<!DOCTYPE html>
<html>

	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta name="renderer" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>医生详细信息</title>
        <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药" />
        <meta name="Description" content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。" />
        <meta name="robots" content="All" />
        <noscript><meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="css/secondary.css" type="text/css" />
        <script language="javascript" type="text/javascript" src="js/KunyiHTML5.min.js"></script>
       <script language="javascript" type="text/javascript" src="js/Kunyilibrary.js"></script>
		<style type="text/css">
			table {
				margin: auto;
			}
		</style>
	</head>

	<body>
		<script language="javascript" type="text/javascript" src="js/Kunyi.Init.js"></script>
		<header>

		</header>
		<nav>
			<div class="navBase">
				<div class="quickMenuBase" data-type="0">
					<div class="quickMenu03"><img src="images/ico_013.png" width="16" height="16" /> <em>快捷菜单</em></div>
				</div>
				<div class="nav Snav">
					<ul>
						<li class="PMenu">
							<a href="index.html" class="PAMenu">首页</a>
						</li>
						<li class="PMenu current"><img src="images/ico_014.png" class="animated" width="15" height="8" />
							<a href="#" class="PAMenu" title="就诊指南">就诊指南</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="notice.html" class="PAMenu " title="院系公告 ">院系公告</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="news.html" class="PAMenu " title="交流论坛 ">交流论坛</a>
						</li>
						<li class="PMenu "><img src="images/ico_014.png " class="animated " width="15 " height="8 " />
							<a href="geren.html" class="PAMenu " title="个人中心 ">个人中心</a>
						</li>
			</ul>
				</div>
			</div>
			
			</div>
			</div>
		</nav>
		<section class="BaseMark ">
			<div class="bread ">您所在的位置<span><a href="index.html ">首页</a><a href="# ">就诊指南</a> > <a href="# ">科室导航</a> > <a href="# ">呼吸内科</a> > 医生详情</span></div>
			<div class="doctorLeft ">
				<img src="uploadfiles/thumb/201603221527067.png" id="DThumb " class="DThumb " width="112 " height="150 " alt="医生 " />
				<h3 id="doctorname" th:text="${doctor.name}"  name="doctorname"></h3><h3 id="doctorid" hidden th:text="${doctor.id}"></h3>
				<h4 id="job" th:text="职称：+${doctor.job}" name="job"></h4>
				<h4 id="goodProject" th:text="擅长项目：+${doctor.goodProject}" name="goodProject"></h4>
			</div>
			<div class="doctorRight ">
				<div class='import import1'></div>
				<div class="title01 ">
					<h3>所在科室：</h3>
					<h1 th:text="${doctor.administrativeName}" id="administrativeName"></h1><span><a href="keshi.html">返回医生介绍</a></span></div>
				<div class="clear "></div>
				<div id="DIVContent " class="article intro ">

					<p>
						<br />
					</p>
				</div>
				<div id="DIVOnDutyInfo" class="visitDate ">
					<div class="title ">他的评价<em>Visits Time</em></div>
					<div class="visitList ">
						
						<table border="0" cellspacing="1">

							<tr th:each="me:${myev}">
								<td style="text-align: left; width: 120px;vertical-align:top;" th:text="${me.Commentator}">:</td>
								<td style="text-align: left; width: 1200px;" th:text="${me.context}"></td>
								<td style="vertical-align:top; width: 200px;" th:text="${me.timer}"></td>
							</tr>
					</table>
					</div>
				</div>
				<div  class="visitDate ">
					<div class="title ">出诊安排<em>Visits Time</em></div>
					<div class="visitList ">
						<div class="time "><span class="green ">本周出诊时间段 </span>
						</div>
						<span th:text="${ds.startTime}" id="startTime"></span>
						<table border="2" cellspacing="1" class="mytable">
							<tr>
								<th>时间段</th>
								<th style="width: 100px;">星期一</th>
								<th style="width: 100px;">星期二</th>
								<th style="width: 100px;">星期三</th>
								<th style="width: 100px;">星期四</th>
								<th style="width: 100px;">星期五</th>
								<th style="width: 100px;">星期六</th>
								<th style="width: 100px;">星期日</th>
							</tr>
							<tr>
								<td style="text-align: center; width: 100px;">上午</td>
								<td>
									<!--<a title="删除" th:href="@{/Announcement/deleannoubyid(id=${annou.id})}">-->
									<span style="width: 80px;height: 10px" th:if="${#strings.contains(ds.day01,'上午')}">
										<a  href="javascript:;"  >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px" th:if="${#strings.contains(ds.day02,'上午')}">
                                        <a  href="javascript:;" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px" th:if="${#strings.contains(ds.day03,'上午')}">
                                        <a  href="javascript:;" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day04,'上午')}">
                                        <a  href="javascript:;" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px" th:if="${#strings.contains(ds.day05,'上午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px" th:if="${#strings.contains(ds.day06,'上午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px" th:if="${#strings.contains(ds.day07,'上午')}">
                                        <a a href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
							</tr>
							<tr>
								<td style="text-align: center;">下午</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day01,'下午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day02,'下午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day03,'下午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day04,'下午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day05,'下午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day06,'下午')}">
                                        <a  href="javascript:void(0);"  >预约</a></span>
								</td>
								<td>
									<span style="width: 80px;height: 10px"  th:if="${#strings.contains(ds.day07,'下午')}">
                                        <a  href="javascript:void(0);" onclick="f()" >预约</a></span>
								</td>
							</tr>
							<tr>
								<td colspan="9" align="middle">值班时间表每周星期日晚上更新，如遇到特殊情况，请咨询相关工作人员</td>
							</tr>
					</table>
					</div>
				</div>
			</div>
		</section>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Common.js "></script>
		<script language="javascript " type="text/javascript " src="js/Kunyi.Secondary.js "></script>
	</body>
    <script src="lib/jquery.1.9.1/jquery.min.js"></script>
    <script>
		// var tdSeq = "";
		// var trSeq = "";
        $(document).ready(function() {
            $(".mytable td").click(function() {
                 tdSeq = $(this).parent().find("td").index($(this)[0]);
                 trSeq = $(this).parent().parent().find("tr").index($(this).parent()[0]);
               /* alert(trSeq + 1);
                alert("第" + (trSeq + 1) + "行，第" + (tdSeq + 1) + "列");*/

				var data = getData();
				$.post('a', data,function (data1) {
					location.href=data1+"";
				});

				function getData() {
					var data = "";// = '{';
					 data += "doctorid="+ $('#doctorid').text()+'&';
					data += "doctorname=" + $('#doctorname').text() + '&';
					data += "administrativeName=" + $('#administrativeName').text() + '&';
					data += "startTime=" + $('#startTime').text() + '&';
					data += "lie=" + tdSeq + '&';
					data += "hang=" + trSeq;
					return data;
				}
            });
        })



    </script>

</html>